<div class="Header Header--hidden">
  <div class="Header__menuContainer Header__menuContainer--hidden">
    <div class="Header__button Button Button--red Button--menu-button Button--hover-underline">
      first
    </div>
    <div class="Header__button Button Button--blue Button--menu-button Button--hover-underline">
      second
    </div>
    <div class="Header__button Button Button--green Button--menu-button Button--hover-underline">
      third
    </div>
    <div class="Header__button Button Button--yellow Button--menu-button Button--hover-underline">
      fourth
    </div>
  </div>
  <div class="Header__logoContainer">
    {{>svgs/lego-logo}}
  </div>
</div>
