<div class="Header">
  <div class="Header__menuContainer Header__menuContainer--hidden">
    <div class="Button Button--red Button--menu-button Button--hover-underline">
      first
    </div>
    <div class="Button Button--blue Button--menu-button Button--hover-underline">
      second
    </div>
    <div class="Button Button--green Button--menu-button Button--hover-underline">
      third
    </div>
    <div class="Button Button--yellow Button--menu-button Button--hover-underline">
      fourth
    </div>
  </div>
  <div class="Header__logoContainer">
    {{>svgs/lego-logo}}
  </div>
</div>
