<div class="Header Header--hidden">
  <div class="Header__menuContainer Header__menuContainer--hidden">
    <div class="Header__menuContent">
      <div class="Header__button Button Button--red Button--hover-underline" data-scroll-to="works">
        works
      </div>
      <div class="Header__button Button Button--blue Button--hover-underline" data-scroll-to="experience">
        experience
      </div>
      <div class="Header__button Button Button--green Button--hover-underline" data-scroll-to="about">
        about
      </div>
      <div class="Header__button Button Button--yellow Button--hover-underline" data-scroll-to="contact">
        contact
      </div>
    </div>
  </div>
  <div class="Header__logoContainer Header__logoContainer--hidden" id="main">
    {{>svgs/lego-logo}}
  </div>
</div>
