<div class="Timeline">
  <div class="Timeline__block">
    <div class="Timeline__step"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> Front-End Engineer, Drawbotics </div>
        <div class="Timeline__contentSubtitle"> Lorem ipsum dolor sit amet, dico definiebas per ex, ea integre necessitatibus mei. Eam at errem putant persecuti, ne his impetus appareat. Cum alia partem sensibus an, cu vix iuvaret oportere eloquentiam. Ea solet option vis. </div>
        <span class="Timeline__date"> 2016 - present </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block Timeline__block--right">
    <div class="Timeline__step Timeline__step--outlined"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> sdfdf </div>
        <div class="Timeline__contentSubtitle"> Lorem ipsum dolor sit amet, dico definiebas per ex, ea integre necessitatibus mei. Eam at errem putant persecuti, ne his impetus appareat. Cum alia partem sensibus an, cu vix iuvaret oportere eloquentiam. Ea solet option vis. </div>
        <span class="Timeline__date"> sdfd </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block">
    <div class="Timeline__step"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> sdfdf </div>
        <div class="Timeline__contentSubtitle"> Lorem ipsum dolor sit amet, dico definiebas per ex, ea integre necessitatibus mei. Eam at errem putant persecuti, ne his impetus appareat. Cum alia partem sensibus an, cu vix iuvaret oportere eloquentiam. Ea solet option vis. </div>
        <span class="Timeline__date"> sdfd </span>
      </div>
    </div>
  </div>
</div>
