<div class="Timeline">
  <div class="Timeline__block Timeline__block--red">
    <div class="Timeline__step"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> Front-End Engineer, Drawbotics </div>
        <div class="Timeline__contentSubtitle"> Lorem ipsum dolor sit amet, dico definiebas per ex, ea integre necessitatibus mei. Eam at errem putant persecuti, ne his impetus appareat. Cum alia partem sensibus an, cu vix iuvaret oportere eloquentiam. Ea solet option vis. </div>
        <span class="Timeline__date"> 2016 - present </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block Timeline__block--right Timeline__block--blue">
    <div class="Timeline__step"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> MSc Computer Science, University of Oxford </div>
        <div class="Timeline__contentSubtitle"> Acquired a Distinction and achieved one of the highest grades in the year for the thesis. </div>
        <span class="Timeline__date"> 2015 - 2016 </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block Timeline__block--yellow">
    <div class="Timeline__step"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> Teaching Assistant, Cardinal Vaughan Memorial School </div>
        <div class="Timeline__contentSubtitle"> Taught Python to kids </div>
        <span class="Timeline__date"> 2014 - 2014 </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block Timeline__block--right Timeline__block--green">
    <div class="Timeline__step"></div>
    <div class="Timeline__sideLine"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> Branding and Design Lead, Barts CTU </div>
        <div class="Timeline__contentSubtitle"> Was in charge of designing and implementing the branding strategy for the Barts Cancer Trials Unit and its affiliates. </div>
        <span class="Timeline__date"> 2013 - 2014 </span>
      </div>
    </div>
  </div>
  <div class="Timeline__block Timeline__block--red">
    <div class="Timeline__step"></div>
    <div class="Timeline__content">
      <div class="Timeline__contentText">
        <div class="Timeline__contentTitle"> BSc Computer Science, QMUL </div>
        <div class="Timeline__contentSubtitle"> Graduated with first class honours and obtained the Westfield Trust Prize for best final year project. </div>
        <span class="Timeline__date"> 2012 - 2015 </span>
      </div>
    </div>
  </div>
</div>
