@base-padding: 45px;

// ANIMATION
@base-timing: 1s;
@short-base-timing: @base-timing / 2;
@shorter-base-timing: @base-timing / 4.5;
@long-base-timing: @base-timing * 2;
@longer-base-timing: @base-timing * 3;
