<div class="Container">
  <div class="AltSection AltSection--green">

    {{>components/header-alt}}

    <div class="AltSection__title">
      3D Modelling
    </div>
    <div class="AltSection__content">
      Lorem ipsum dolor sit amet, malis tincidunt qui et. Ne albucius detraxit duo, ad pri labores sententiae. Ex brute deseruisse dissentiunt cum, eu sit ornatus adversarium, et stet congue nam. No primis debitis usu, eam vidisse inciderint eu. Sit augue ocurreret consectetuer ut, aliquid elaboraret eum ex.
      <a href='/#works' class="Link Link--alt">back</a>
    </div>
  </div>
</div>
