<!-- {{>components/loading-legos}} -->

<div class="Container">
  {{>components/cover}}

  <div class="Section Section--inverse">
    <div class="Section__descriptionContainer">
      <div class="Section__titleContainer">
        <div class="Section__title">
          works
        </div>
      </div>
      <div class="Section__subtitleContainer">
        <div class="Section__subtitle">
          A selection of some of my work throughout the years
        </div>
      </div>
    </div>
    <div class="Section__content">
      lalal
    </div>
  </div>

  <!-- <h1> THIS IS INDEX </h1>

  <p> {{stuff}} </p>

  <img src="/static/images/favicons/favicon.png" alt=""> -->
</div>
