.Button {

  padding: 0 10px;

  &--red {
    color: @red;
  }

  &--blue {
    color: @blue;
  }

  &--green {
    color: @green;
  }

  &--yellow {
    color: @yellow;
  }

  &--menu-button {
    padding-right: 40px;
    padding-left: 0;
  }
}
