@coverHeight: 100vh;

.Cover {
	height: @coverHeight;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__mainText {
    text-align: center;
    font-size: 10em;
    font-family: 'square-deal';
  }
}
