.Footer {
  color: @white;
  .Section {
    background: @blue;
  }

  .Section__title {
    color: @white;
    opacity: 0.2;
  }

  .Section__subtitle {
    color: @white
  }

  &__contactInfo {
    text-align: center;
    font-size: 1.5em;
  }

  &__socialIcons {
    margin-top: 50px;
    text-align: center;
    font-size: 2.2em;

    > i {
      margin: 0 30px;
    }
  }

  &__bottomText {
    margin-top: 150px;
    text-align: center;
    font-size: 0.7em;
  }

  .Brick {
    transform: scale(0.3) translate3d(0, -140%, 0);
  }

  .emojii {
    font-size: 2.5em;
  }
}
