@initial-scale: 1.3;
@hover-scale: 1.4;
@active-rotation: 20deg;
@final-rotation: -90deg;
@final-active-rotation: @final-rotation - @active-rotation;

.Header {
  padding: @base-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  &__menuContainer {
    padding: @base-padding + 5px;
    width: 100%;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    right: 0;
    background-color: @white;
    overflow-x: hidden;
    transition: transform @shorter-base-timing ease;

    &--hidden {
      transform: translate3d(0, -100%,0);
    }
  }

  &__menuContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
  }

  &__button {
    margin-right: 40px;
    font-size: 1.3em;
  }

  &__button {
    font-size: 1.2em;
  }

  &__logoContainer {
    width: 40px;
    height: 32px;
    transform: scale(@initial-scale);
    transition: transform @shorter-base-timing;
    z-index: 99;
    polygon {
      fill: @red;
    }

    &:hover {
      cursor: pointer;
      transform: scale(@hover-scale);
    }

    &:active {
      transform: scale(@initial-scale) rotate(@active-rotation);
    }

    &--active {
      transform: scale(@initial-scale) rotate(@final-rotation);

      &:hover {
        cursor: pointer;
        transform: scale(@hover-scale) rotate(@final-rotation);
      }

      &:active {
        transform: scale(@initial-scale) rotate(@final-active-rotation);
      }
    }
  }
}
