.Header {
  padding: @base-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &__menuContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    transition: transform @short-base-timing ease;

    &--hidden {
      transform: translate3d(0, -100px, 0);
    }
  }

  &__logoContainer {
    width: 40px;
    height: 32px;
    transform: scale(1.3);
    transition: transform @shorter-base-timing;
    polygon {
      // transition: fill @shorter-base-timing;
      fill: @red;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.4);
    }
  }
}
