.SquareSelectors {

  display: flex;

  &__square {
    flex: 1;
    display: flex;
    align-items: center;

    transition: all @shorter-base-timing ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(0.98);
      border-radius: 50%;
    }

    &:active {
      transform: scale(0.95);
    }

    &--red {
      background: @red;
    }

    &--blue {
      background: @blue;
    }

    &--orange {
      background: @orange;
    }

    &--green {
      background: @alt-green;
    }
  }

  &__squareText {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: @white;
  }
}
